:root {
    /* color */
    --white-color: #fff;
    --black-color: #000;
    
    /* font-size */
    --font-super-size: 100px;
    --font-large-size: 50px;
    --font-medium-size: 35px;
    --font-small-size: 28px;
    --font-micro-size: 22px;
    --font-news-size: 18px;

    /* size */
    --padding: 10px;
    --margin: 20px;
    --border-size: 1px;

    /* opacity */ 
    --background-opacity: 0.8;
}

* {
    margin: 0;
    padding: 0;
    color: var(--white-color);
    font-size: var(--font-small-size);
}

html {
    height: 100%;
}

body{
    position: relative;
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
    color: var(--white-color);
    margin-left: calc(var(--margin)/2);
}

.container {
    position: relative;
    top: 10%;
    transition: 1s ease-in-out;
}

#login-form {
    text-align: center;
}

#login-form>input {
    padding-left: var(--padding);
    color: var(--black-color);
    font-weight: bold;
    opacity: 0.5;
    border-radius: 5%;
    margin-bottom: calc(var(--margin)/2);
}

#login-form>input::placeholder {
    color: var(--black-color);
    font-weight: bold;
}

#login-form button:hover {
    text-decoration: underline;
    font-weight: bold;
    transform: scale(1);
    -webkit-transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

#greeting {
    font-size: var(--font-large-size);
    font-weight: bold;
    margin-bottom: calc(var(--margin)*3);
}

#clock {
    font-size: var(--font-super-size);
    font-weight: bold;
}

#weather {
    text-align: center;
    width: 100%;
}

#weather div:first-child {
    font-size: var(--font-large-size);
    font-weight: bold;
}

#weather div:nth-child(2) {
    font-weight: bold;
}

.news_title {
    font-size: var(--font-medium-size);
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: calc(var(--margin)/4);
}

.news_title {
    font-size: var(--font-medium-size);
    font-weight: bold;
    text-decoration: underline;
}

#main_news {
    font-size: var(--font-small-size);
}

.news_item {
    font-size: var(--font-news-size);
    margin-left: var(--margin);
}

.todo {
    font-size: var(--font-super-size);
}

.todo_title {
    font-size: var(--font-medium-size);
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: calc(var(--margin)/4);
}

#todo-input {
    padding-left: var(--padding);
    color: var(--black-color);
    font-weight: bold;
    opacity: 0.5;
    width: 60%;
    border-radius: 5%;
    margin-bottom: calc(var(--margin)/2);
    font-size: var(--font-micro-size);
}

#todo-input::placeholder {
    color: var(--black-color);
    font-weight: bold;
    font-size: var(--font-micro-size);
}

#todo_list {
    padding: 0;
    overflow: auto;
    height: 500px;
}

#todo_list::-webkit-scrollbar {
    visibility: hidden;
}

#todo_list li {
    font-size: var(--font-micro-size);
    display: flex;
    justify-content: space-between;
    width: 60%;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

#todo_list li span {
    font-size: var(--font-micro-size);
}

#todo_list li:hover {
    text-decoration: underline;
    font-weight: bold;
    transform: scale(1);
    -webkit-transform: scale(1.03);
    transition: 0.3s ease-in-out;
}

.backgroud img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -100;
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    .container {
        top: 10%;
    }
    
    .news {
        display: none;
    }

    .todo {
        text-align: center;
    }

    #todo_list {
        overflow: auto;
        height: 200px;
        width: 60%;
        margin: 0 auto;
    }

    #todo_list li {
        text-align: left;
        width: 100%;
        padding: var(--padding);
    }
}