.backgroud img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -100;
    height: 100%;
    width: 100%;
    opacity: var(--background-opacity);
}

.hidden {
    display: none;
}